<% if resource.errors.any? %>
  <div id="error_explanation">
    <h2>
      <% if resource.errors.count == 1 %>
        <%= "1 error prohibited this #{resource.class.model_name.human.downcase} from being saved:"
        %>
      <% else %>
        <%= "#{resource.errors.count} errors prohibited this #{resource.class.model_name.human.downcase} from being saved:"
        %>
      <% end %>
    </h2>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
