<h1>Edit score:</h1>

<%= render "scores/form", score_holes: @round.sorted_score_holes %>

<%= render 'layouts/other_buttons',
           courses: [button_to(Button::Tee::EDIT, edit_course_tee_path(@course, @tee), method: :get),
                     button_to(Button::Tee::NEW, new_course_tee_path(@course, Tee.new), method: :get),
                     button_to(Button::Course::EDIT, edit_course_path(@course), method: :get),
                     button_to(Button::Course::NEW, new_course_path(Course.new), method: :get)
           ], rounds: [button_to(Button::Round::NEW, new_course_tee_round_path(@course, @tee, Round.new), method: :get),
                       button_to(Button::Round::EDIT, edit_course_tee_round_path(@course, @tee, @round), method: :get)
  ]
%>
