<h1><%= Heading::Round::EDIT %></h1>

<%= render "rounds/form", course: @course, tee: @tee, round: @round, form_disabled: false %>

<%= render "rounds/edit_other_buttons", course: @course, tee: @tee, round: @round %>