<h1><%= Heading::Round::NEW %></h1>

<%= render "rounds/form", course: @course, tee: @tee, round: @round, form_disabled: false %>

<%= render 'layouts/other_buttons',
           courses: [button_to(Button::Tee::EDIT, edit_course_tee_path(@course, @tee), method: :get),
                     button_to(Button::Tee::NEW, new_course_tee_path(@course, Tee.new), method: :get),
                     button_to(Button::Course::EDIT, edit_course_path(@course), method: :get),
                     button_to(Button::Course::NEW, new_course_path(Course.new), method: :get)
           ], rounds: [button_to(Button::Round::NEW, new_course_tee_round_path(@course, @tee, Round.new), method: :get)
  ]
%>