<h1><%= Heading::Round::SHOW %></h1>

<%= render "form", course: @course, tee: @tee, round: @round, form_disabled: true %>

<%= render "rounds/show_other_buttons", course: @course, tee: @tee, round: @round %>