<h1>Welcome to Golf courses played by Paul!</h1>

<a href="<%= courses_path %>" id='show_golf_courses'>
  Show golf courses
</a>

<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
