<h1><%= Heading::Tee::NEW_TEE %></h1>

<%=render "tees/form", tees: @course.sorted_tees, new_tee: true %>

<%= render 'layouts/other_buttons',
           courses: [button_to(Button::Course::EDIT, edit_course_path(@course), method: :get)
           ], rounds: []
%>


