<h1><%= Heading::Course::EDIT_COURSE %></h1>

<%= render "courses/form", course: @course, form_disabled: false %>

<%= render "layouts/other_buttons", courses:
  [button_to(Button::Course::NEW, new_course_path(@course), method: :get),
   button_to(Button::Tee::NEW, new_course_tee_path(@course, Tee.new), method: :get)],
           rounds: [] %>
