<h1>Courses</h1>

<% if @courses.empty? %>
  <h2>No courses</h2>
<% else %>
  <ul>
    <% @courses.each do |course| %>
      <li id="li-id"><%= link_to course.name, course, id: "edit_link_#{course.id}" %></li>
    <% end %>
    <br>
  </ul>
<% end %>

<%= render "layouts/other_buttons", courses:
  [button_to(Button::Course::NEW, new_course_path, method: :get)],
           rounds: [] %>