<h1><%= I18n.t('heading.course.courses') %></h1>

<% if @courses.empty? %>
  <h2><%= I18n.t('info.course.no_courses') %></h2>
<% else %>
  <ul>
    <% @courses.each do |course| %>
      <li id="li-id"><%= link_to course.name, course, id: "edit_link_#{course.id}" %></li>
    <% end %>
    <br>
  </ul>
<% end %>

<%= render "layouts/other_buttons", courses:
  [button_to(I18n.t('button.course.new'), new_course_path, method: :get)],
           rounds: [] %>