<h1><%= Button::Round::CHOOSE_COURSE %></h1>

<ul id="courses">
  <% @courses.each do |course| %>
    <li id="li-id<%= course.id %>"><%= link_to course.name, rounds_tees_course_tees_path(course) %></li>
  <% end %>
</ul>
