<h1><%= Label::Course::SHOW_COURSE %></h1>

<%= render "form", course: @course, form_disabled: true %>

<%= render "layouts/other_buttons", courses:
  [button_to(Button::Course::EDIT, edit_course_path(@course), method: :get),
   button_to(Button::Course::DESTROY, course_path(@course),
             method: :delete,
             data: { confirm: "Are you sure?" }),
   button_to(Button::Course::NEW, new_course_path(@course), method: :get),
   button_to(Button::Tee::NEW, new_course_tee_path(@course, Tee.new), method: :get)],
           rounds: [] %>