<h1><%= I18n.t('heading.course.show') %></h1>

<%= render "form", course: @course, form_disabled: true %>

<%= render "layouts/other_buttons", courses:
  [button_to(I18n.t('button.course.edit'), edit_course_path(@course), method: :get),
   button_to(I18n.t('button.course.destroy'), course_path(@course),
             method: :delete,
             data: { confirm: "Are you sure?" }),
   button_to(I18n.t('button.course.new'), new_course_path(@course), method: :get),
   button_to(I18n.t('button.tee.new'), new_course_tee_path(@course, Tee.new), method: :get)],
           rounds: [] %>