// Place all the styles related to the Application here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

.field_with_errors input{
  border: 1px solid red !important;
}
label {font-weight: bold}

.heading-cell {
  width: 80px;
  text-align: right;
  padding-right: 2px;
  border: 1px solid black
}

.number-cell {
  width: 80px;
  text-align: center;
  border: 1px solid black
}

.yardage-cell {
  width: 80px;
  text-align: center;
  border: 1px solid black
}

.par-cell {
  width: 80px;
  text-align: center;
  border: 1px solid black
}

.hdcp-cell {
  width: 80px;
  text-align: center;
  border: 1px solid black
}

.strokes-cell-true, .strokes-cell-false, .strokes-cell {
  border: 1px solid black;
  text-align: center;
}

.strokes-cell-false {
  background-color: red;
}

.strokes-cell-true {
  background-color: green;
}

.putts-cell {
  border: 1px solid black;
  text-align: center;
}

.penalties-cell {
  border: 1px solid black;
  text-align: center;
}

.fieldset {
  border-style: solid;
  border-width: 2px;
}