// Place all the styles related to the Tees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



.tee-th {
  width: 5%
}
.holes {
  width: 85%
}
.color-cell {
  border: 1px solid black;
  text-align: center;
}
.rating-cell {
  border: 1px solid black;
  text-align: center;
}
.slope-cell {
  border: 1px solid black;
  text-align: center;
}