
<ul class="navbar-nav">

  <!-- Dropdown -->
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
      Database
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to(Label::Database::CLEAR, welcome_clear_db_path, id: 'clear_db') %></li>
      <li><%= link_to(Label::Database::LOAD_XSXL, welcome_filein_db_path, id: 'load_in_xsxl_file') %></li>
    </ul>
  </li>
</ul>