
<ul class="navbar-nav">

  <!-- Dropdown -->
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
      Database
    </a>
    <div class="dropdown-menu">
      <%= link_to("Load in xsxl file", welcome_filein_db_path, id: 'load_in_xsxl_file') %>
    </div>
  </li>
</ul>