<div class="container">
  <div class="row">
    <div class="col-sm">
      <%= field_set_tag Fieldset::Course::COURSE_BUTTONS, class: 'fieldset' do %>
        <div id="course-div" class="fieldset-button-div">
          <% courses.each do |button| %>
            <%= button %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-sm">
      <%= field_set_tag Fieldset::Round::ROUND_BUTTONS, class: 'fieldset' do %>
        <div id="round-div" class="fieldset-button-div">
          <% rounds.each do |button| %>
            <%= button %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
